.campaigns{
    margin: 100px 0;
}

.campaign-container {
    position: relative;
    text-align: center;
    color: white;
    height: 548px;
}

.campaign-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.campaign-group {
    height: 60%;
    width: 50%;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    background-color: rgba(26, 40, 52, 0.7);
}

@media screen and (max-width: 757px) {
    .campaign-group {
        height: 50%;
        width: 75%;
    }
}